

:root{
    --main-color: #2E8B57;
    --brown:#8B4513;
    --bg:#F5F5DC;
    --secondary:#D3D3D3;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

/*sobre*/
.heading{
    text-align: center;
    color: #a19999;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

/*botão*/
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    cursor:pointer;
    border-radius: .8rem;
}

.btn:hover{
    letter-spacing: .2rem;
}


.page-header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--secondary);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.page-header .logo img{
    height: 6rem;
}

.page-header .main-navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color: #5f5858;
}

.page-header .main-navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

/*icons*/
.page-header .icones div{
    color: #5f5858;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.page-header .icones div:hover{
    color: var(--main-color)
}



/*Busca*/
.page-header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height:5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.page-header .search-form.active{
    transform: scaleY(1);
}

.page-header .search-form input{
    height:100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--brown);
    padding: 1rem;
    text-transform: none;
}

/*barra de pesquisa*/
.page-header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--brown);
}

.page-header .search-form label:hover{
    color:var(--main-color);
}


/*home*/
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/WhatsApp\ Image\ 2024-10-12\ at\ 11.53.35.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content p{
    font-size: 2rem;
    font-weight:bold;
    line-height: 2rem;
    padding: 1rem 0;
    color:#ffffff;
}

/*sobre*/
.sobre .line{
    display: flex;
    align-items: center;
    background: var(--brown);
    flex-wrap: wrap;
}

.sobre .line .image{
    flex: 1 1 45rem;
}

.sobre .line .image img{
    width: 100%;
}

.sobre .line .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.sobre .line .content h3{
    font-size: 3rem;
    color: #fff;
}

.sobre .line .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8rem;
}

/*Review*/
.Colaboradores .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.Colaboradores .box-container .box{
    border: var(--secondary);
    text-align: center;
    padding: 3rem 2rem;
}

.Colaboradores .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #5f5858;
    padding: 2rem 0;

}

.Colaboradores .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #000000;
}

.box img{
    width: 250px; /* Defina a largura desejada */
    height: 250px; /* Defina a altura desejada */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
    border-radius: 10px; /* Ajusta os cantos das imagens */
}

/*contato*/
.contact-info .line{
    display:flex;
    background: var(--brown);
    flex-wrap: wrap; /* Faz com que os itens dentro do contêiner sejam movidos para a próxima linha quando o espaço disponível acabar.*/
    gap: 1rem;
}

.contact-info .line .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover; /*A imagem ou vídeo será redimensionado para cobrir completamente o contêiner, mantendo suas proporções*/
}

.contact-info .line form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact-info .line form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact-info .line form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border: var(--secondary);
}

.contact-info .line form .inputBox span{
    color: #5f5858;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact-info .line form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color:#5f5858;
    text-transform: none;
    background: none;
}

/*blogs*/
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box{
    border: var(--secondary);
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #5f5858;
}

.blogs .box-container .box .content .title:hover{
    color: var(--main-color);
}

.blogs .box-container .box .content span{
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .contentp{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

/*footer*/
.footer{
    background: var(--brown);
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    color: #fff;
    border: var(--secondary);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .credit{
    font-size: 1.6rem;
    color: #fff;
    font-weight: lighter;
    padding: 1rem;
}

.footer .credit span{
    color: var(--main-color);
}
